@font-face {
  font-family: 'iconfont';  /* project id 1599445 */
  src: url('http://at.alicdn.com/t/font_1599445_6tuxzu7z8c3.eot');
  src: url('http://at.alicdn.com/t/font_1599445_6tuxzu7z8c3.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1599445_6tuxzu7z8c3.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1599445_6tuxzu7z8c3.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1599445_6tuxzu7z8c3.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1599445_6tuxzu7z8c3.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}