// 用戶
.icon-user::before {
  content: "\e600";
}

// 资产
.icon-asset::before {
  content: "\e93e";
}

// 商铺
.icon-shop::before {
  content: "\e60d";
}

// 充值
.icon-recharge::before {
  content: "\e60b";
}

// 推广
.icon-promotion::before {
  content: "\e613";
}

// 设置
.icon-setting::before {
  content: "\e722";
}

// 设置(填充)
.icon-setting-fill::before {
  content: "\e6e0";
}

// 关于
.icon-about::before {
  content: "\e60e";
}

// 向左
.icon-left::before {
  content: "\e618";
}

// 锁
.icon-lock::before {
  content: "\e6ac";
}

// 邮箱
.icon-email::before {
  content: "\e631";
}

// 眼睛打开
.icon-eye-open::before {
  content: "\e8bf";
}

// 眼睛关闭
.icon-eye-close::before {
  content: "\e6cf";
}

// 验证码小盾牌
.icon-safety::before {
  content: "\e70b";
}

// 邀请码
.icon-yqm::before {
  content: "\e72e";
}

// 账号
.icon-account::before {
  content: "\e66d";
}

// 支付宝
.icon-alipay::before {
  content: "\e647";
}

// 微信
.icon-wechat::before {
  content: "\e7b4";
}

// 银行卡
.icon-card::before {
  content: "\e6c9";
}

// 下拉
.icon-down::before {
  content: "\e61d";
}

// 趋势
.icon-trend::before {
  content: "\e608";
}

// 上下
.icon-up::before {
  content: "\e60c";
}

// 对勾
.icon-get::before {
  content: "\e63e";
}

// 帮助中心
.icon-help::before {
  content: "\e76a";
}

// 相机
.icon-camera::before {
  content: "\e61e";
}

// 添加
.icon-addd ::before {
  content: "\e627";
}

// 加载
.icon-loading::before {
  content: "\e668";
}

// 转换
.icon-transform::before {
  content: "\e621";
}

// 电话
.icon-phone::before {
  content: "\e66b";
}

// 复制
.icon-copy::before {
  content: "\e705";
}

// 问号
.icon-why::before {
  content: "\e77c";
}

// 搜索
.icon-search::before {
  content: "\e614";
}

// 完成
.icon-finish::before {
  content: "\e612";
}

// 未完成
.icon-unfinish::before {
  content: "\e6a9";
}

// 公告
.icon-notice::before {
  content: "\e6d0";
}

// 铃铛
.icon-bell::before {
  content: "\e626";
}

// 充值
.icon-charge::before {
  content: "\e615";
}

// 充币
.icon-transfer::before {
  content: "\e636";
}

// 向右
.icon-right::before {
  content: "\e630";
}

// 钱币
.icon-coin::before {
  content: "\e601";
}

// 账单
.icon-bill::before {
  content: "\e61f";
}

// 已认证
.icon-verified::before {
  content: "\e6fd";
}

// 无数据
.icon-nodata::before {
  content: "\e869";
}

.icon-profile-asset::before {
  content: '\e659';
}

.icon-qrcode::before {
  content: '\e640';
}

.icon-hot::before {
  content: '\e60f'
}

.icon-android::before {
  content: '\e60a';
}

.icon-ios::before {
  content: '\e64b';
}